# path: backend/docker-compose.yml
version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Cyber71ermairechudi
      POSTGRES_DB: mehreen_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    env_file: .env
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:Cyber71ermairechudi@db:5432/mehreen_db
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
